build/
dist/
wheelhouse/
*venv*/
docs/_*/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.venv/
__pycache__/

src/ecdsa
src/Makefile
src/test.c

target/

*.o
*.pyc
*.so
*.egg-info
MANIFEST
binaryField.*
.coverage
